@import "../../../assets/styles/toolkit.scss";


.Info {
    padding: 0 spacing-rem(3);

    & .InfoContent {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: spacing-rem(1);
        padding: 0 spacing-rem(2);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .Info {
        &>div {
            width: rem-calc(512) !important;
        }
    }
}