@import "../../../assets/styles/toolkit.scss";

.Root {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: spacing-rem(1);

    & .Title {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: spacing-rem(1);

        & .Name {
            position: relative;
            display: flex;
            gap: spacing-rem(.5);
        }

        & .Subtitle {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: rem-calc(2);

            & .Locality {
                position: relative;
                display: flex;
                gap: spacing-rem(.5);
                align-items: center;
            }
        }
    }
}