@import "../../../../assets/styles/toolkit.scss";

.Title {
    position: relative;
    display: grid;
    grid-template-columns: spacing-rem(4) 1fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: spacing-rem(1);

    &>* {
        &:first-child {
            grid-column: 1;
            grid-row: 1 / 3;
        }
    }
}