@import "../../../assets/styles/toolkit.scss";

.Root {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: spacing-rem(3);
    padding: spacing-rem(3) spacing-rem(2);

    & .Icons {
        position: relative;
        display: flex;
        justify-content: space-between;

        & .States,
        & .Actions {
            position: relative;
            display: flex;
            gap: spacing-rem(1);
        }
    }

    & .Fields {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: spacing-rem(1);
    }
}