@import "../../../../assets/styles/toolkit.scss";

.Root {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: spacing-rem(3);
    gap: spacing-rem(1);
    flex: 1;

    & .UsersContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;

        & .Box {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            border: rem-calc(1) solid var(--color-background3);
            border-radius: spacing-rem(1);
            overflow: hidden;

            &>div:not(:last-child) {
                border-bottom: rem-calc(1) solid var(--color-background3);
            }

            & .NotFound {
                background-color: var(--color-background1);
                padding: spacing-rem(1);
                min-height: spacing-rem(5);
                display: flex;
                align-items: center;
            }
        }

    }
}