@import "../../assets/styles/toolkit.scss";

.Root {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: spacing-rem(6);
    padding-bottom: spacing-rem(3);
}