@import "../../../assets/styles/toolkit.scss";

.Container {
  position: relative;
  display: flex;
  gap: spacing(1);
  flex-direction: column;

  & > label {
    font-size: rem-calc(13);
    width: 100%;
  }

  & > input {
    font-size: spacing-rem(2);
    height: rem-calc(32);
    padding: spacing-rem(1);
    background-color: transparent;
    border: 1px solid var(--color-divider);
    border-radius: spacing-rem(1);
    color: var(--color-text-primary);
    width: 100%;
    font-size: rem-calc(12);

    &::placeholder {
      color: var(--color-divider);
    }
  }
  
  & > .HelperText {
    font-size: rem-calc(10);
    color: var(--color-alert);
  }
}
