@import "../../../assets/styles/toolkit.scss";

.Base {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: spacing-rem(1);
    padding: spacing-rem(1);
    font-size: rem-calc(12);
    border-radius: spacing-rem(1);
    border: none;
    line-height: 0;
    min-height: rem-calc(40);

    &:not(:disabled) {
        cursor: pointer;
    }

    &.Primary {
        &.Contained {
            background-color: #{$color-main}40;
        }

        &.Standard {
            background-color: transparent;
        }

        color: #{$color-main};

        &:not(:disabled).Contained:hover {
            background-color: #{$color-main}40;
        }

        &:not(:disabled).Standard:hover {
            background-color: #{$color-main}10;
        }

        &:not(:disabled).Contained:active {
            background-color: #{$color-main}60;
        }

        &:not(:disabled).Standard:active {
            background-color: #{$color-main}20;
        }

        &>svg.Icon {
            color: #{$color-main};
            fill: #{$color-main};
        }
    }

    &.Secondary {
        &.Contained {
            background-color: #{$color-content1}40;
        }

        &.Standard {
            background-color: transparent;
        }

        color: #{$color-content1};

        &:not(:disabled).Contained:hover {
            background-color: #{$color-content1}40;
        }

        &:not(:disabled).Standard:hover {
            background-color: #{$color-content1}10;
        }

        &:not(:disabled).Contained:active {
            background-color: #{$color-content1}60;
        }

        &:not(:disabled).Standard:active {
            background-color: #{$color-content1}20;
        }

        &>svg.Icon {
            color: #{$color-content1};
            fill: #{$color-content1};
        }
    }

    &.White {
        &.Contained {
            background-color: var(--color-background1);
        }

        &.Standard {
            background-color: transparent;
        }

        color: var(--color-text-content1);

        &:not(:disabled).Contained:hover {
            background-color: var(--color-content3);
        }

        &:not(:disabled).Standard:hover {
            background-color: #{$color-content1}10;
        }

        &:not(:disabled).Contained:active {
            background-color: var(--color-content2);
        }

        &:not(:disabled).Standard:active {
            background-color: #{$color-content1}20;
        }

        &>svg.Icon {
            color: var(--color-main);
            fill: var(--color-main);
        }
    }

    &.Black {
        &.Contained {
            background-color: var(--color-content1);
            color: var(--color-background1);

            &>svg.Icon {
                color: var(--color-brackground1);
                fill: var(--color-background1);
            }
        }

        &.Standard {
            background-color: transparent;
            color: var(--color-content1);

            &>svg.Icon {
                color: var(--color-content1);
                fill: var(--color-content1);
            }
        }


        &:not(:disabled).Contained:hover {
            background-color: #{$color-content1}88;
        }

        &:not(:disabled).Standard:hover {
            background-color: #{$color-content1}10;
        }

        &:not(:disabled).Contained:active {
            background-color: var(--color-content1);
        }

        &:not(:disabled).Standard:active {
            background-color: #{$color-content1}20;
        }
    }

    &:disabled {
        opacity: 0.5;
        filter: grayscale(1);
    }
}