@import "../../../assets/styles/toolkit.scss";

.Base {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: spacing-rem(1);
    padding: spacing-rem(1);
    font-size: rem-calc(12);
    border-radius: spacing-rem(1);
    border: none;
    line-height: 0;
    min-height: rem-calc(40);

    &:not(:disabled) {
        cursor: pointer;
    }

    &.Primary {
        &.Contained {
            background-color: #{$color-primary}40;
        }

        &.Standard {
            background-color: transparent;
        }

        color: #{$color-primary};

        &:not(:disabled).Contained:hover {
            background-color: #{$color-primary-light}40;
        }

        &:not(:disabled).Standard:hover {
            background-color: #{$color-primary-dark}10;
        }

        &:not(:disabled).Contained:active {
            background-color: #{$color-primary-dark}60;
        }

        &:not(:disabled).Standard:active {
            background-color: #{$color-primary-dark}20;
        }

        &>svg.Icon {
            color: #{$color-primary};
            fill: #{$color-primary};
        }
    }

    &.Secondary {
        &.Contained {
            background-color: #{$color-secondary}40;
        }

        &.Standard {
            background-color: transparent;
        }

        color: #{$color-secondary};

        &:not(:disabled).Contained:hover {
            background-color: #{$color-secondary-dark}40;
        }

        &:not(:disabled).Standard:hover {
            background-color: #{$color-secondary-dark}10;
        }

        &:not(:disabled).Contained:active {
            background-color: #{$color-secondary-dark}60;
        }

        &:not(:disabled).Standard:active {
            background-color: #{$color-secondary-dark}20;
        }

        &>svg.Icon {
            color: #{$color-secondary};
            fill: #{$color-secondary};
        }
    }

    &.White {
        &.Contained {
            background-color: var(--color-white);
        }

        &.Standard {
            background-color: transparent;
        }

        color: var(--color-text-primary);

        &:not(:disabled).Contained:hover {
            background-color: var(--color-grey-light);
        }

        &:not(:disabled).Standard:hover {
            background-color: #{$color-grey-dark}10;
        }

        &:not(:disabled).Contained:active {
            background-color: var(--color-grey);
        }

        &:not(:disabled).Standard:active {
            background-color: #{$color-grey-dark}20;
        }

        &>svg.Icon {
            color: var(--color-text-primary);
            fill: var(--color-text-primary);
        }
    }

    &.Black {
        &.Contained {
            background-color: var(--color-black);
            color: var(--color-white);

            &>svg.Icon {
                color: var(--color-white);
                fill: var(--color-white);
            }
        }

        &.Standard {
            background-color: transparent;
            color: var(--color-black);

            &>svg.Icon {
                color: var(--color-black);
                fill: var(--color-black);
            }
        }


        &:not(:disabled).Contained:hover {
            background-color: #{$color-grey-dark}88;
        }

        &:not(:disabled).Standard:hover {
            background-color: #{$color-grey-dark}10;
        }

        &:not(:disabled).Contained:active {
            background-color: var(--color-grey-dark);
        }

        &:not(:disabled).Standard:active {
            background-color: #{$color-grey-dark}20;
        }
    }

    &:disabled {
        opacity: 0.5;
        filter: grayscale(1);
    }
}