@import "../../../assets/styles/toolkit.scss";

.Base {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    gap: spacing-rem(0.5);

    &>p {
        color: var(--color-content1);
        z-index: 1;
        height: rem-calc(28);
        text-align: center;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}