@import "../../../assets/styles/toolkit.scss";

.Base {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    gap: spacing-rem(0.5);

    &>p {
        color: var(--color-content1);
        z-index: 1;
        height: rem-calc(30);
        text-align: center;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & .GhostSkeleton {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: rem-calc(30);

        &>* {
            flex: 1;
        }
    }

    &[disabled] {
        pointer-events: none;
    }

    &:not([disabled])::before {
        content: '';
        position: absolute;
        display: block;
        top: rem-calc(-8);
        left: rem-calc(-8);
        width: calc(100% + rem-calc(16));
        height: calc(100% + rem-calc(16));
        background-color: var(--color-background1);
        border: rem-calc(1) solid var(--color-background3);
        border-radius: rem-calc(4);
        transform: scale(0.75);
        opacity: 0;
        transition: .5s $transitionInOut;
    }

    &:not([disabled]):hover {
        &::before {
            transform: scale(1);
            transition: .25s $transitionInOut;
            opacity: 1;
        }
    }
}