@import "../../../assets/styles/toolkit.scss";

.Root {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: spacing-rem(3);

    & .InfosContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: spacing-rem(1);
        padding: 0 spacing-rem(3);
    }
}