@import "../../../assets/styles/toolkit.scss";

.Root {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    & .Form {
        position: relative;
        display: flex;
        gap: spacing-rem(2);
        width: rem-calc(400);
        flex-direction: column;

        & .Header {
            position: relative;
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: spacing-rem(1);

            h4 {
                font-family: "Lexend Bold", sans-serif;
            }

            .Subtitle {
                font-family: "Lexend Light", sans-serif;
                color: var(--color-grey-dark);
            }

            & img {
                margin-bottom: spacing-rem(3);
            }
        }
    }
}