@import "../../../assets/styles/toolkit.scss";

.Root {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    min-height: spacing-rem(5);
}